*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg") no-repeat;
    background-color: lightgray;
    background-size: cover;
    font-family: calibri, Arial, Helvetica, sans-serif;
}

#container{
    /*width: 70%;*/
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background:lightblue;
    height: 100px;
    width: 1094px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    border: 3px dashed blue;
}

nav{
    background: lightsalmon;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(100%-10px);
    height: calc(100%-10px);
    background: url("fiumba.jpg");
    min-height: 500px;
    padding: 10px;
}

.article{
    color: black;
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
}

.article:first-child{
    border-top: 1px solid black;
    padding-top: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}